.button_area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s all ease;
}

.button:hover {
    opacity: .8;
}

@media(min-width:767px)  {
    .button_area {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button {
        padding: 10px 20px;
        width: 50%;
    }
}
