.title_area {
	display: none;
}

p {
	width: 60%;
	font-weight: 100;
}

strong {
	font-weight: bold;
}

/* Inputs */

.container {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.input_area {
	display: flex;
	flex-direction: column;
	width: 60%;
	justify-content: center;
	row-gap: 1rem;
	margin-top: 2rem;
}

.inputs {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}

.button_area {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.links {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 2rem;
}

.links a {
	text-decoration: none;
	font-weight: bold;
	font-size: large;
	color: #2d9bf0;
}

@media (min-width: 767px) {
	.title_area {
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		color: black;
		width: 100%;
		font-size: 35px;
	}

	.title_area {
		background-color: black;
		color: white;
		border-radius: 50px 50px 0 0;
		padding-top: 25px;
		padding-bottom: 20px;
	}

	.input_area {
		width: 30%;
		border: 2px solid #c2c2c2;
		border-radius: 50px;
	}

	.inputs {
		padding: 20px 80px;
	}

	.links {
		row-gap: 0.5rem;
		margin-bottom: 2rem;
	}
}
